@use "../abstracts/colors";
@use "../abstracts/mixins";

@media screen and (max-width:62.5rem)   {
    .banky{
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;

        &__accounts{
            align-items: flex-start;
            position: relative;
            padding-bottom: 2rem;

            &::after{
              @include mixins.afterstyle;
              height: 0.1rem;
            }

        }
    }
    

     .avatar{
            left: 0.2rem;
            top: 0.1rem;
     }
}
@media screen and (max-width:37.5rem) {
    body{
        padding: 0;

    }

    .header{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .banky{
        &__transactions{
            height: auto;
            overflow: auto;
        }
    }
}  