@use "../../abstracts/colors";

  // .banky {
  //        /* "auto" or "thin" */
  //   
    
  // }


  ::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    scrollbar-color: map-get(colors.$baseColors, "backgroundDark") map-get(colors.$baseColors, "whitecolor");       /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /* creates padding around scroll thumb */
  }
  