@use "../../abstracts/colors";


.cookie{
    width: 30rem;
    background: map-get(colors.$cookie,"background" );
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: 
        inset 0 0 10rem 0 map-get(colors.$cookie,"spots" ),
        0 2rem 1rem 0rem rgba(0, 0, 0,0.2);
    position: relative;
    overflow: hidden;
    border: 1rem solid ;
    transition: 0.2s all;

    &:hover{
        cursor: pointer;
    }

    &:active{
       transform: scale(0.95);
    }

    &--chocolate{
        background: #3C2A21;
        box-shadow: 0 2rem 1rem 0rem rgba(0, 0, 0,0.2);
        border: 1rem solid #1C0A00;
    }

    &--chocolate &__spots{
        background: #1C0A00;
        border-radius: 20%;
    }

    &--red{
        background: #EB455F;
        box-shadow: 0 2rem 1rem 0rem rgba(0, 0, 0,0.2);
        border: 1rem solid #FCFFE7;
        
    }

    &--red &__spots{
        background: #FCFFE7;
        border-radius: 20%;
    }

    &__spots{
        width: 5rem;
        aspect-ratio: 1/1;
        background: map-get(colors.$cookie,"spots" );
        border-radius: 45%;
        position: absolute;

        &--first{
            top: 10%;
            left: 5%;
        }

        &--second{
            right: 10%;
            top: 5%;
            
        }

        &--third{
            right: 5%;
            bottom: 10%;
            
        }

        &--fourth{
            left:5%;
            bottom: 10%;
        }

        &--fifth{
            left:40%;
            bottom: 20%;
        }

        &--sixth{
            right:30%;
            bottom: 50%;
        }

        &--seventh{
            left:15%;
            bottom: 40%;
        }

    }
}

